/* color palette from <https://www.color-hex.com/color-palette/81193> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #000000;
  --vt-c-light-yellow: #fff0c0;
  --vt-c-light-peach: #fdd2c5;
  --vt-c-light-pink: #eaadd6;
  --vt-c-light-purple: #c7b6e2;
  --vt-c-light-blue: #94bfe9;

  --color-background: var(--vt-c-light-pink); /* Light yellow background */
  --color-text: var(--vt-c-black); /* Black text */
  --color-border: rgba(60, 60, 60, 0.29);
  --color-heading: var(--vt-c-black);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-light-pink);
  --color-background-soft: var(--vt-c-light-peach);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-light-purple);
  --color-text: var(--vt-c-white);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

button {
  background-color: var(--vt-c-light-purple);
  color: var(--vt-c-white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px; /* Rounded border */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--vt-c-light-blue);
}

a {
  color: var(--vt-c-light-blue);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #82b1ff; /* Slightly darker blue */
}
